
<div class="container">
        <div class="row">
                <div class="col-xl-6 col-lg-6 main-text">
                    <b>
                        <label class="label-main">FRESH FOOD FOR <br/><br/> A FRESH YOU</label>
                                <br/>
                                <br/>
                                <br/>
                        <label class="label-sub"><i>Quality Food, Quality Life</i></label>
                        </b>
                </div>
                <div class="col-xl-6 col-lg-6">                        
                        <img src="/assets/Images/ProductDetails/Side image.png" alt="">
                </div>
        </div>
        <div class="row bottom-row">
                <div class="col-xl-12 col-lg-12">
                        <div class="row">
                                <div class="col-xl-3 col-lg-3">
                                                <img src="/assets/Images/ProductDetails/clock.png" alt="">
                                                <label>Online Anywhere</label>
                                </div>
                                <div class="col-xl-3 col-lg-3 offset-1">
                                                <img src="/assets/Images/ProductDetails/delivery-truck.png" alt="">
                                                <label>Fast Delivery</label>
                                </div>
                                <div class="col-xl-3 col-lg-3 offset-1">
                                                <img src="/assets/Images/ProductDetails/support.png" alt="">
                                                <label>24/7 Support</label>
                                </div>
                        </div>
                </div>
        </div>
</div>