
<nav class="navbar navbar-expand"> 
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li> <a href="#">On Sales!</a> </li>
                    <li> <a href="#">New</a> </li>
                    <li> <a href="#">Shop by Store</a> </li>
                    <li> <a href="#">Fruit & Veg</a> </li>
                    <li> <a href="#">Meat and Seafood</a> </li>
                    <li> <a href="#">Dairy and Chilled</a> </li>
                    <li> <a href="#">Bakery</a> </li>
                    <li> <a href="#">Beverages</a> </li>
                </ul>
            </div>
        </div>